<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @state.title %>
</p>

<p>
  <strong>Order:</strong>
  <%= @state.order %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
